#main_content {
    padding: 32px;
}

#main_container img {
    width: 100%;
}

#main_container * {
    margin-bottom: 16px;
}

#main_container a {
    color: #0000ee;
}

#main_container h1 {
    margin-bottom: 8px;
}