#main_footer {
    flex-shrink: 0;
    background: #eeeeee;
    padding: 32px 0;
    border-top: 1px solid #cccccc;
}

#main_footer .inner {
    padding: 0 32px;
    box-sizing: border-box;
    margin: 0 auto;
}

html[page-size="1"] #main_footer .inner {
    max-width: 1200px;
}

html[page-size="2"] #main_footer .inner {
    max-width: 800px;
}